# Data Science Tools and Ecosystem

## Author
Lloyd Forbes

## In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

- Create a list of popular Data Science Languages
- Create a list of commonly used Data Science Libraries
- Create a table of common Data Science Tools
- Show some common arithemtic expressions

## Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

## Some of the commonly used libraries use by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Keras

## Data Science Tools Table
|Data Science Tools|
|----------|
|Apache Spark|
|RStudio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335